pymongo

#django-nonrel, currently a fork from django v1.3
-e hg+http://bitbucket.org/wkornewald/django-nonrel#egg=Django

# djangotoolbox
-e hg+https://bitbucket.org/wkornewald/djangotoolbox#egg=djangotoolbox

# auth backend
-e hg+https://bitbucket.org/fhahn/django-permission-backend-nonrel#egg=permission_backend_nonrel

